In [58]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [59]:
# Step 2: Show first 5 rows
print(df.head())

# Step 3: Print DataFrame shape
print("Shape:", df.shape)

# Step 4: Show column names
print("Columns:", df.columns)

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850
Shape: (20, 8)
Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')

In [60]:
# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = 0
df.loc[df["Quantity"] >= 5, "Discount"] = df["Total"] * 0.10

# Step 2: Add FinalTotal column (Total - discount)
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 3: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600         0        1600
1     1002     Mouse    100        10          90
2     1003  Keyboard    150         0         150
3     1004   Monitor    800         0         800
4     1005    Laptop    850         0         850

In [61]:
# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}


new_row_df = pd.DataFrame([new_row])
df = pd.concat([df, new_row_df], ignore_index=True)

df = df.drop_duplicates(subset=['OrderID'], keep='last')


df["Total"] = df["Quantity"] * df["Price"]
df["Discount"] = 0
df.loc[df["Quantity"] >= 5, "Discount"] = df["Total"] * 0.10
df["FinalTotal"] = df["Total"] - df["Discount"]


print(df.tail(3))

    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
18         0         110
19       108         972
20         0         900

In [62]:
# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Total  \
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

    Discount  FinalTotal
1         10          90
6         25         225
13        14         126

In [63]:
# Step 1: Drop Discount column
df = df.drop(columns=["Discount"])

# Step 2: Drop FinalTotal column
df = df.drop(columns=["FinalTotal"])

# Step 3: Show updated DataFrame
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [64]:
# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index)

# Step 2: Drop the first row by index
df = df.drop(index=df.index[0]).reset_index(drop=True)

# Step 3: Print new shape
print("New shape:", df.shape)

New shape: (19, 8)

In [71]:
# Step 1: Electronics with Quantity >= 3
result1 = df[(df["Category"] == "Electronics") & (df["Quantity"] >= 3)]
display(result1)

# Step 2: Products with Price > 500
result2 = df[df["Price"] > 500]
display(result2)

# Step 3: Count orders from North region
count_north = df[df["Region"] == "North"].shape[0]
print("North orders:", count_north)

    OrderID  Product     Category  Quantity  Price Customer Region  Total
2      1004  Monitor  Electronics         4    200    Diana   West    800
12     1015   Laptop  Electronics         5    750    Oscar   East   3750
15     1018  Monitor  Electronics         4    220   Robert  South    880

    OrderID Product     Category  Quantity  Price Customer Region  Total
3      1005  Laptop  Electronics         1    850    Ethan  North    850
12     1015  Laptop  Electronics         5    750    Oscar   East   3750

North orders: 4

In [80]:
# Add a row for Alice back into the DataFrame
new_alice_row = {
    "OrderID": 1001,
    "Product": "Laptop",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 800,
    "Customer": "Alice",
    "Region": "North",
    "Total": 1600 # Assuming Total is Quantity * Price
}
df = pd.concat([df, pd.DataFrame([new_alice_row])], ignore_index=True)

# Step 1: Sales in West region
west_sales = df[df["Region"] == "West"]
print(west_sales)

# Step 2: Sales by Alice
alice_sales = df[df["Customer"] == "Alice"]
print(alice_sales)

# Step 3: Sales of Laptop or Printer
subset_sales = df[df["Product"].isin(["Laptop", "Printer"])]
print(subset_sales)

    OrderID     Product     Category  Quantity  Price Customer Region  Total
2      1004     Monitor  Electronics         4    200    Diana   West    800
6      1008       Chair    Furniture         2    150   Hannah   West    300
9      1012    Keyboard  Accessories         4     55    Laura   West    220
13     1016  Headphones  Accessories         3     35     Paul   West    105
17     1020       Chair    Furniture         6    180      Tom   West   1080
    OrderID Product     Category  Quantity  Price Customer Region  Total
19     1001  Laptop  Electronics         2    800    Alice  North   1600
    OrderID  Product     Category  Quantity  Price Customer Region  Total
3      1005   Laptop  Electronics         1    850    Ethan  North    850
8      1011  Printer  Electronics         2    120     Kyle   East    240
12     1015   Laptop  Electronics         5    750    Oscar   East   3750
16     1019  Printer  Electronics         1    110    Sarah   East    110
19     1001   Laptop  Electronics         2    800    Alice  North   1600

In [82]:
# Step 1: Increase Price of Furniture by 10%
df["Price"] = df["Price"].astype(float) # Ensure Price column is float
df.loc[df["Category"] == "Furniture", "Price"] *= 1.10

# Step 2: Recalculate Total
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Furniture rows
print(df[df["Category"] == "Furniture"])

    OrderID Product   Category  Quantity  Price Customer Region   Total
6      1008   Chair  Furniture         2  181.5   Hannah   West   363.0
7      1009    Desk  Furniture         1  363.0      Ian  North   363.0
14     1017    Desk  Furniture         2  338.8    Queen  North   677.6
17     1020   Chair  Furniture         6  217.8      Tom   West  1306.8

In [83]:
# Step 1: Sort by Total descending
sorted_df = df.sort_values(by="Total", ascending=False)
print(sorted_df.head())

# Step 2: Show top 5 sales
print(sorted_df.head())

# Step 3: Multi-level sort (Region then Customer)
multi_sort = df.sort_values(by=["Region", "Customer"])
print(multi_sort.head())

    OrderID  Product     Category  Quantity  Price Customer Region   Total
12     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1001   Laptop  Electronics         2  800.0    Alice  North  1600.0
17     1020    Chair    Furniture         6  217.8      Tom   West  1306.8
18     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
15     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
    OrderID  Product     Category  Quantity  Price Customer Region   Total
12     1015   Laptop  Electronics         5  750.0    Oscar   East  3750.0
19     1001   Laptop  Electronics         2  800.0    Alice  North  1600.0
17     1020    Chair    Furniture         6  217.8      Tom   West  1306.8
18     1021   Tablet  Electronics         2  450.0   Victor   East   900.0
15     1018  Monitor  Electronics         4  220.0   Robert  South   880.0
    OrderID   Product     Category  Quantity  Price Customer Region   Total
1      1003  Keyboard  Accessories         3   50.0  Charlie   East   150.0
5      1007     Mouse  Accessories        10   30.0   George   East   300.0
8      1011   Printer  Electronics         2  120.0     Kyle   East   240.0
12     1015    Laptop  Electronics         5  750.0    Oscar   East  3750.0
16     1019   Printer  Electronics         1  110.0    Sarah   East   110.0

In [ ]:
from getpass import getpass
import os

# Prompt for token — input will be hidden
os.environ['GITHUB_TOKEN'] = getpass("Enter your GitHub token: ")

Enter your GitHub token: ··········

In [ ]:
import os
!git push https://{os.environ['GITHUB_TOKEN']}@github.com/Ria-t-p/dataframe-exercise.git

Everything up-to-date

In [70]:
%cd /content/dataframe-exercise
!git add exercise/dataframe-exercise.ipynb
!git commit -m "Update notebook with 4-7"
import os
!git push https://{os.environ['GITHUB_TOKEN']}@github.com/Ria-t-p/dataframe-exercise.git

/content/dataframe-exercise
On branch main
Your branch is ahead of 'origin/main' by 3 commits.
  (use "git push" to publish your local commits)

nothing to commit, working tree clean
Everything up-to-date