In [58]:
import pandas as pd

# Sample sales dataset (20 rows)
data = {
    "OrderID": range(1001, 1021),
    "Product": [
        "Laptop", "Mouse", "Keyboard", "Monitor", "Laptop",
        "Headphones", "Mouse", "Chair", "Desk", "Laptop",
        "Printer", "Keyboard", "Monitor", "Mouse", "Laptop",
        "Headphones", "Desk", "Monitor", "Printer", "Chair"
    ],
    "Category": [
        "Electronics", "Accessories", "Accessories", "Electronics", "Electronics",
        "Accessories", "Accessories", "Furniture", "Furniture", "Electronics",
        "Electronics", "Accessories", "Electronics", "Accessories", "Electronics",
        "Accessories", "Furniture", "Electronics", "Electronics", "Furniture"
    ],
    "Quantity": [2, 5, 3, 4, 1, 6, 10, 2, 1, 3, 2, 4, 2, 7, 5, 3, 2, 4, 1, 6],
    "Price": [800, 20, 50, 200, 850, 40, 25, 150, 300, 900, 120, 55, 250, 20, 750, 35, 280, 220, 110, 180],
    "Customer": [
        "Alice", "Bob", "Charlie", "Diana", "Ethan",
        "Fiona", "George", "Hannah", "Ian", "Jane",
        "Kyle", "Laura", "Mike", "Nina", "Oscar",
        "Paul", "Queen", "Robert", "Sarah", "Tom"
    ],
    "Region": [
        "North", "South", "East", "West", "North",
        "South", "East", "West", "North", "South",
        "East", "West", "North", "South", "East",
        "West", "North", "South", "East", "West"
    ]
}

# Create DataFrame
df = pd.DataFrame(data)

# Compute Total column
df["Total"] = df["Quantity"] * df["Price"]

print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [59]:
# Step 2: Show first 5 rows
print(df.head())

# Step 3: Print DataFrame shape
print("Shape:", df.shape)

# Step 4: Show column names
print("Columns:", df.columns)

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     20      Bob  South    100
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850
Shape: (20, 8)
Columns: Index(['OrderID', 'Product', 'Category', 'Quantity', 'Price', 'Customer',
       'Region', 'Total'],
      dtype='object')

In [60]:
# Step 1: Add Discount column (10% if Quantity >= 5 else 0)
df["Discount"] = 0
df.loc[df["Quantity"] >= 5, "Discount"] = df["Total"] * 0.10

# Step 2: Add FinalTotal column (Total - discount)
df["FinalTotal"] = df["Total"] - df["Discount"]

# Step 3: Show selected columns
print(df[["OrderID", "Product", "Total", "Discount", "FinalTotal"]].head())

   OrderID   Product  Total  Discount  FinalTotal
0     1001    Laptop   1600         0        1600
1     1002     Mouse    100        10          90
2     1003  Keyboard    150         0         150
3     1004   Monitor    800         0         800
4     1005    Laptop    850         0         850

In [61]:
# Step 1: Create new record
new_row = {
    "OrderID": 1021,
    "Product": "Tablet",
    "Category": "Electronics",
    "Quantity": 2,
    "Price": 450,
    "Customer": "Victor",
    "Region": "East"
}


new_row_df = pd.DataFrame([new_row])
df = pd.concat([df, new_row_df], ignore_index=True)

df = df.drop_duplicates(subset=['OrderID'], keep='last')


df["Total"] = df["Quantity"] * df["Price"]
df["Discount"] = 0
df.loc[df["Quantity"] >= 5, "Discount"] = df["Total"] * 0.10
df["FinalTotal"] = df["Total"] - df["Discount"]


print(df.tail(3))

    OrderID  Product     Category  Quantity  Price Customer Region  Total  \
18     1019  Printer  Electronics         1    110    Sarah   East    110
19     1020    Chair    Furniture         6    180      Tom   West   1080
20     1021   Tablet  Electronics         2    450   Victor   East    900

    Discount  FinalTotal
18         0         110
19       108         972
20         0         900

In [62]:
# Step 1: Update price of Mouse products
df.loc[df["Product"] == "Mouse", "Price"] = 30

# Step 2: Recalculate Total for affected rows
df["Total"] = df["Quantity"] * df["Price"]

# Step 3: Show only Mouse rows
print(df[df["Product"] == "Mouse"])

    OrderID Product     Category  Quantity  Price Customer Region  Total  \
1      1002   Mouse  Accessories         5     30      Bob  South    150
6      1007   Mouse  Accessories        10     30   George   East    300
13     1014   Mouse  Accessories         7     30     Nina  South    210

    Discount  FinalTotal
1         10          90
6         25         225
13        14         126

In [63]:
# Step 1: Drop Discount column
df = df.drop(columns=["Discount"])

# Step 2: Drop FinalTotal column
df = df.drop(columns=["FinalTotal"])

# Step 3: Show updated DataFrame
print(df.head())

   OrderID   Product     Category  Quantity  Price Customer Region  Total
0     1001    Laptop  Electronics         2    800    Alice  North   1600
1     1002     Mouse  Accessories         5     30      Bob  South    150
2     1003  Keyboard  Accessories         3     50  Charlie   East    150
3     1004   Monitor  Electronics         4    200    Diana   West    800
4     1005    Laptop  Electronics         1    850    Ethan  North    850

In [64]:
# Step 1: Drop row with OrderID = 1010
df = df.drop(df[df["OrderID"] == 1010].index)

# Step 2: Drop the first row by index
df = df.drop(index=df.index[0]).reset_index(drop=True)

# Step 3: Print new shape
print("New shape:", df.shape)

New shape: (19, 8)

In [ ]:
from getpass import getpass
import os

# Prompt for token — input will be hidden
os.environ['GITHUB_TOKEN'] = getpass("Enter your GitHub token: ")

Enter your GitHub token: ··········

In [ ]:
import os
!git push https://{os.environ['GITHUB_TOKEN']}@github.com/Ria-t-p/dataframe-exercise.git

Everything up-to-date

In [57]:
%cd /content/dataframe-exercise
!git add exercise/dataframe-exercise.ipynb
!git commit -m "Update notebook with 1-3"
import os
!git push https://{os.environ['GITHUB_TOKEN']}@github.com/Ria-t-p/dataframe-exercise.git

/content/dataframe-exercise
[main c909cb6] Update notebook with 1-3
 1 file changed, 171 insertions(+), 5 deletions(-)
Enumerating objects: 7, done.
Counting objects: 100% (7/7), done.
Delta compression using up to 2 threads
Compressing objects: 100% (4/4), done.
Writing objects: 100% (4/4), 2.26 KiB | 1.13 MiB/s, done.
Total 4 (delta 0), reused 0 (delta 0), pack-reused 0
To https://github.com/Ria-t-p/dataframe-exercise.git
   aff091c..c909cb6  main -> main